:host {
  display: grid;
  gap: 1rem;
  
  grid:
    " header header "
    " actions . "
    " list player " /
    1fr 2fr;
}

button { grid-area: actions; }

header { grid-area: header; }
tp-video-list { grid-area: list; }
tp-video-player { grid-area: player; }
