/* You can add global styles to this file, and also import other style files */

html {
  font-family: sans-serif;
}

app-root, tp-video-list, tp-video-player, tp-stat-filters {
  outline: 3px solid green;
  padding: 1rem;
}
